%header
  %h1 Domains
  %p.lead
    These are your domains
%section
  .row
    %table.table.span12
      %tr
        %th Domain
        %th

      - @domains.each do |domain|
        %tr
          %td= link_to domain.domain, domain
          %td
            .btn-group
              = link_to "Edit", edit_domain_path(domain), class: "btn"
              = link_to "Delete", domain, method: :delete, confirm: "Are you sure?", class: "btn btn-danger"
    .span12
      = link_to 'New Domain', new_domain_path, class: "btn btn-large"
